@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

@media (max-width: 1024px) {
  body {
    padding-top: 65px;
  }
}

* {
  box-sizing: border-box;
}
